# 변수

## 변수

In [1]:
5*5*3.14

78.5

In [2]:
6 * 6 * 3.14

113.04

In [3]:
radius = 5

In [5]:
area = radius * radius * 3.14

In [6]:
area

78.5

## 변수 이름 만드는 규칙

### 변수의 이름은 문자, 숫자 밑줄 문자를 포함.
### 변수는 숫자로 시작할 수 없음
### 변수에 사용하는 문자는 대소문자를 구분
### 공백, 문장부호, 특수문자 등은 사용할 수 없음
### 파이썬의 예약어는 사용할 수 없음
### 사용 중인 내장 함수나 모듈 이름등은 사용 지양

## 변수에 값 할당

### 할당 연산자 " = "

In [7]:
a = 10
print(a)

10

## id()

### 객체의 주소 값을 알려줌

In [8]:
x = 100
print(x)

100

In [9]:
print(id(x))
# 결과는 변수 x의 값이 저장돼있는 컴퓨터 안의 메모리 공간의 주소이다. 그러므로 실행하는 컴퓨터마다 다르게 출력될 수 있다.

140710527579008

## 변수 삭제

In [10]:
del x

In [11]:
a = 10
b = 20
print(a, b)

10 20

In [12]:
whos

Variable   Type      Data/Info
------------------------------
a          int       10
area       float     78.5
b          int       20
os         module    <module 'os' from 'C:\\Us<...>vs\\3_Flask\\lib\\os.py'>
radius     int       5
sys        module    <module 'sys' (built-in)>

In [13]:
del a, b, area, os, radius, sys

In [14]:
whos

Interactive namespace is empty.

### 다음 코드는 현재 커늘의 모든 변수를 삭제하기 위한 구문이다. 지금 아래의 코드를 작성하고 실행시킬 필요는 없다

In [ ]:
for name in dir() :
    if not name.startswith('_') :
        del globals()[name]

# globals()는 현재 커널에 선언돼있는 전역변수 목록을 출력해준다.
# del은 변수를 삭제한다.

## 다중 변수 선언

In [15]:
a, b = 10, 20
print(a + b)

30

## 도움말 기능
### help([x])

In [16]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

# 2절. 화면 입출력

## 사용자 입력 : input()

In [17]:
first_number = input('첫 번째 숫자:')

In [18]:
second_number = input('두 번째 숫자:')

In [19]:
print(int(first_number) + int(second_number))

50

## 화면으로의 출력 : print()

In [20]:
print('Hello', 'World')

Hello World

In [21]:
print('Hello', 'World', sep = ',')

Hello,World

In [22]:
print('Hello', end = '\t')
print('World')

Hello	World

# 3절. 기본 자료형

대부분의 프로그래밍 언어들은 명시적으로 자료형의 개념을 포함하고 있으며, 변수를 선언할 때 자료형을 지정하는 키워드가 존재한다. 예를 들면 다음과 같다.
- 정수 자료형을 지정하는 키워드는 int
- 부동소수점 자료형을 지정하는 float 또는 double
- 논리 자료형을 지정하는 boolean
- 문자 한 개 자료형을 지정하는 char
- 문자와 숫자로 이루어진 문자열 자료형을 지정하는 string

파이썬도 자료형의 개념을 포함하고 있다. 그러나 파이썬은 변수를 선언할 때 자료형을 지정하는 키워드가 존재하지는 않는다. 파이썬의 기본 자료형은 숫자형, 문자형, 논리형이 있다.

## 숫자형

파이썬의 숫자 유형은 정수, 실수, 복소수 형이 있다.

## 1) 정수

In [23]:
type(2**31)

int

In [27]:
import sys
sys.maxsize

9223372036854775807

In [28]:
type(sys.maxsize)

int

In [29]:
type(sys.maxsize + 1)

int

In [ ]:
## 실수

허수를 포함하는 복소수는 complex형이다. 허수는 제곱해서 -1이 되는 수를 의미한다. 파이썬에서는 허수를 표현하기 위해 문자 j를 사용한다.

In [30]:
d = 3 + 2j
type(d)

complex

In [31]:
d = 1j
print(d ** 2)

(-1+0j)

## 최근 표현식 변수 _

우리가 정의하지 않아도 사용할 수 있는 특별한 변수가 있다 그것은 \_ 변수이다. 이것을 최근 표현식 변수라고 하고, \_ 변수에는 마지막으로 인쇄된 결과가 변수 \_ 에 지정된다

In [32]:
a = 10
b = 20
a + b

30

In [33]:
c = 100
print(c + _)   # print(c + (a + b)) 와 같음

130

In [34]:
_

30

In [35]:
c = 2 + 3 + 4
_

30

## 문자형

### 문자형의 표현

In [36]:
name = "JinKyoung"
address = '서울시 강남구'
print(name, address)

JinKyoung 서울시 강남구

In [43]:
a = input('학년 :')
b = input('이름 :')
c = input('주소 :')
d = input('email :')

In [44]:
print(a)
print(b)
print(c)
print(d)

4
정찬웅
경기도 고양시
jcw7468@naver.com

### 여러 줄 문자 표현

여러줄의 문자열을 사용할 때는 겹따옴표 3개 (""") 혹은 홑따옴표 3개 (''')를 사용한다.

In [37]:
text = '''이렇게 작성하면
줄 바꿈도 그대로 적용해서
여러 줄의 문자를 작성할 수 있다.'''
print(text)

이렇게 작성하면
줄 바꿈도 그대로 적용해서
여러 줄의 문자를 작성할 수 있다.

## 소스코드 줄 바꿈

코드에서 라인의 맨 마지막에 있는 역슬래시( ' \ ' )는 코드를 줄 바꿈 하겠다는 의미이다.

## 탈출 문자 (Escape Character)

'\n' 처럼 문자열 내에서 역슬래시와 같이 사용되어 특별한 의미를 갖는 문자들을 탈출 문자라고 한다.

In [45]:
print('Hello\nWorld')

Hello
World

## 문자열 연결하기

In [46]:
'Hello' + 'World'

'HelloWorld'

In [48]:
print(5 * '\tHello')    # 탈출문자도 반복된다

	Hello	Hello	Hello	Hello	Hello

In [ ]:
## 문자열 인덱싱

파이썬의 인덱스는 항상 0부터 시작한다. 그러므로 문자열은 첫 문자의 인덱스가 0이다. 음수는 맨 뒤의 문자부터 의미한다.

인덱스를 벗어나느 참조는 오류를 발생시킨다.

In [50]:
'Python'[0]

'P'

In [51]:
'Python'[3]

'h'

In [52]:
'Python'[-1]

'n'

## 문자열 자르기

문자열\[from : to\]

## raw 문자열

문자열 앞에 r을 붙여 raw 문자열을 선언해 사용하기도 한다. r을 붙이면 역슬래시 문자를 해석하지 않고 남겨둔다. 탈출 문자를 사용하지 않고 역슬래시 등의 문자를 그대로 표현해서 사용할 때 유용하다. 특히 정규표현식과 같은 곳에 유용하다. 특히 정규표현식과 같은 곳에 유용하다.

In [57]:
import re
data = "이름 : 홍길동, 주소 : 서울시, 전화번호 010-2345-6789, 특징 : 동해번쩍서해번쩍"
phone_pattern = r'[\d]{3,4}-[\d]{4}-[\d]{4}'
phone = re.findall(phone_pattern, data)
print(phone)

['010-2345-6789']

## 문자열을 다루는 함수

### split()

In [58]:
temp = 'Python is easy'
lst = temp.split()
lst[0]

'Python'

In [59]:
temp2 = 'python.java.R.sas'
temp2.split('.')

['python', 'java', 'R', 'sas']

In [ ]:
### join()

In [60]:
temp3 = ['Python','java','R','SAS']
','.join(temp3)

'Python,java,R,SAS'

In [61]:
a = 'HelloWorld'
a.index('W')

5

## 논리형

파이썬의 논리형은 True 또는 False 값을 갖는다.

In [62]:
a = True
print(type(a))

<class 'bool'>

### FALSE인 경우

조건을 비교하기 위해 반드시 논리형만 필요한 것은 아니다.

정수형의 경우 0, 실수는 0.0 복소수는 0+0j 문자열이 "" or ''이면 false로 판단한다.

False로 판단되는 값들
- None
- False
- 숫자 타입 0에 해당하는 것
- 빈 문자
- 빈 튜플 또는 리스트
- 빈 딕셔너리

## 자료형 확인 및 변환

데이터가 어떤 자료형인지 확인하거나 다른 자료형으로 변환할 수 있다.

- type() : 자료형 확인
- int() : 정수형으로 변환
- float() : 실수형으로 변환
- str() : 문자형으로 변환
- bool() : 논리형으로 변환

In [63]:
name, age = '홍길동', 20
print(name, '님의 나이는 ', age, '살 입니다.', sep = '')

홍길동님의 나이는 20살 입니다.

In [64]:
'%s %s' %('one','two')

'one two'

In [65]:
'{} {}'.format('one','two')

'one two'

In [67]:
name, age = '홍길동', 20
print('{}님의 나이는 {}살 입니다.'.format(name, age))

홍길동님의 나이는 20살 입니다.


### 포맷 순서 지정

In [69]:
a, b, c = 10, 20, 30
print('출력 : {}, {}, {}'.format(a,b,c))

출력 : 10, 20, 30

In [70]:
print('출력 : {2}, {1}, {0}'.format(a,b,c))

출력 : 30, 20, 10

### 숫자 출력

In [71]:
a = 12345
print('출력 : [{}], [{:10}], [{:3}]'.format(a,a,a))

출력 : [12345], [     12345], [12345]

In [72]:
print('출력 : [{:d}],[{:f}],[{:b}],[{:o}],[{:x}]'.format(a,a,a,a,a))

출력 : [12345],[12345.000000],[11000000111001],[30071],[3039]

In [73]:
a = 12345.123456789
print('출력 : [{}],[{:f}],[{:15f}],[{:10.2f}],[{:20.10f}]'\
    .format(a,a,a,a,a))

출력 : [12345.123456789],[12345.123457],[   12345.123457],[  12345.12],[    12345.1234567890]

## 공백 대체 문자

In [74]:
a = 10
b = 'Hello'
print('출력 : {:$>10}, {:*<20}, {:_<10.5s}'.format(a,b,b))

출력 : $$$$$$$$10, Hello***************, Hello_____

In [75]:
# 숫자 유형의 경우 크기 앞에 0을 붙이면 남는 자리를 0으로 채워준다. 음수의 경우에는 맨 앞에 -가 표시되며, 부호 표시도 전체 자릿수에 포함된다.
a = 123
b = -123
print('출력 : [{:05}], [{:05}]'.format(a, b))

출력 : [00123], [-0123]

In [76]:
a = [10, 123.12345]
print('출력 : [{[0]:$>10x}].[{[1]:_>10.3f}]'.format(a,a))

출력 : [$$$$$$$$$a].[___123.123]

In [81]:
a = 2.7182818284
print('출력 : [{:{}{}.{}{}}]'.format(a, '>', 10, 2, 'f'))

출력 : [      2.72]

In [82]:
print('출력 : [{:{dir}{sign}{width}.{precision}{fmt}}]'\
    .format(a,dir='>', sign='+', width=10, precision=2, fmt='f'))

출력 : [     +2.72]

### 날짜 출력

In [83]:
from datetime import datetime
from time import localtime
now = localtime()
now

time.struct_time(tm_year=2021, tm_mon=6, tm_mday=9, tm_hour=17, tm_min=12, tm_sec=39, tm_wday=2, tm_yday=160, tm_isdst=0)

In [84]:
date_object = datetime.strptime('24 March, 2019', '%d %B, %Y')
date_object

datetime.datetime(2019, 3, 24, 0, 0)

### 파이썬의 f-strings

f-스트링은 문자열에 형식을 지정할 때 서식을 쉽게 만들 수 있도록 한다. 이것의 표현 방법은 f가 문자열 앞에 있고 그 값으로 대체 될 표현식을 중괄호로 포함하는 문자열 리터럴이다.

In [85]:
name = 'Eric'
age = 23
f"Hello, {name}. You are {age}."

'Hello, Eric. You are 23.'

In [86]:
3 | 5

7

In [88]:
0 or {} or [] or 2

2

In [89]:
0 or {} or 3 or [] or 2

3