In [56]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
import pandas as pd

In [57]:
car_df = pd.read_excel('데이터/data4/hyundaiCar.xlsx')
le_type = LabelEncoder()
le_fuel = LabelEncoder()
le_trans = LabelEncoder()

car_df['종류'] = le_type.fit_transform(car_df['종류'])
print(le_type.classes_)
car_df['연료'] = le_fuel.fit_transform(car_df['연료'])
print(le_fuel.classes_)
car_df['변속기']= le_trans.fit_transform(car_df['변속기'])
print(le_trans.classes_)


x_data = car_df.iloc[:,1:]
y_data = car_df.iloc[:,0]

['대형' '소형' '준중형' '중형']
['LPG' '가솔린' '디젤']
['수동' '자동']

In [58]:
car_df

      가격    년식  종류    연비   마력    토크  연료  하이브리드   배기량    중량  변속기
0   1885  2015   2  11.8  172  21.0   1      0  1999  1300    1
1   2190  2015   2  12.3  204  27.0   1      0  1591  1300    1
2   1135  2015   1  15.0  100  13.6   1      0  1368  1035    0
3   1645  2014   1  14.0  140  17.0   1      0  1591  1090    1
4   1960  2015   0   9.6  175  46.0   2      0  2497  1990    1
..   ...   ...  ..   ...  ...   ...  ..    ...   ...   ...  ...
66  3802  2015   3   8.5  290  34.8   1      0  3342  1901    1
67  1270  2012   1  13.3  108  13.9   1      0  1396  1040    1
68  2430  2015   2  12.8  186  41.0   2      0  1995  1665    1
69  2870  2015   3  17.7  156  19.3   1      1  1999  1585    1
70  3254  2015   0  13.8  202  45.0   2      0  2199  1691    1

[71 rows x 11 columns]

In [59]:
x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, 
                                test_size=0.2,random_state=1)

model = make_pipeline( PolynomialFeatures(degree=10), StandardScaler(), LinearRegression()  )
model.fit(x_train, y_train)

Pipeline(steps=[('polynomialfeatures', PolynomialFeatures(degree=10)),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [60]:
import numpy as np
test_data=pd.DataFrame(np.array([2015, '준중형', 12.3, 204, 27,'가솔린',0,1591,1300,'자동']).reshape(1,-1))
test_data.columns = car_df.columns[1:]
test_data['종류'] = le_type.transform(test_data['종류'])
test_data['연료'] = le_fuel.transform(test_data['연료'])
test_data['변속기'] = le_trans.transform(test_data['변속기'])

test_data

     년식  종류    연비   마력  토크  연료 하이브리드   배기량    중량  변속기
0  2015   2  12.3  204  27   1     0  1591  1300    1

In [61]:
y_predicted = model.predict(test_data)
y_predicted

array([2190.])