# 210617

# 파일 입/출력 프로그래밍

## 1절. 파일에 데이터 저장하고 불러오기

In [6]:
f = open("sample.txt", "w")

open만 하고 닫지않으면 삭제가 불가능하다. 파이썬에서 사용중이기 때문

In [4]:
f.close()

닫아주어야 한다.

In [7]:
f = open("sample.txt", "w")

print(f.writable())

True

In [8]:
f.write("Hello\nWorld\n")

12

In [9]:
f.close()

write로 Hello World를 적은 코드를 실행해본 뒤, sample.txt을 확인해보니 적용되지 않았다.

close()를 이용하여 파일을 닫아주어야 저장이된다.

with 구문을 이용하면 파일을 열어 사용한 후 매번 닫아주는 코드를 작성하지 않아도 된다. 앞의 코드는 다음처럼 작성하는 것이 더 좋다.

In [10]:
with open("sample.txt", "w") as f :
    print(f.writable())
    f.write("Hello\n\nWorld\n")

True

In [11]:
# 이미 있는 파일에 내용을 추가하려면 추가 모드('a')로 열어야 한다.

with open("sample.txt","a") as f :
    print("프린트 함수로 쓸 수 있습니다.", file = f)

# 파일 객체의 write() 함수를 이용해서 데이터를 쓸 수 있지만 print() 함수를 이용해서도 파일에 데이터를 쓸 수 있다.

In [16]:
# 읽기 모드로 파일을 열려면 'r' 모드를 사용한다. 이 모드는 기본값이다.

with open("sample.txt", "r") as f :
    lines = f.readlines()
    for line in lines :
        print(line.strip())

Hello

World
프린트 함수로 쓸 수 있습니다.

- readline() 함수는 한 줄씩 읽고 readlines() 함수는 파일의 모든 라인을 한 번에 읽는다. 이렇게 읽은 데이터는 for 반복문을 이용해 처리할 수 있다.
- strip() 함수는 문자열의 앞/뒤 공백문자(줄바꿈 포함)를 없애준다.

In [15]:
with open("sample.txt", "r") as f :
    lines = f.readlines()
    for line in lines :
        print(line.strip(),end = ' ')

Hello  World 프린트 함수로 쓸 수 있습니다.

## 2절. 피클을 이용한 객체 저장하고 불러오기


### 형식이 있는 텍스트 데이터

member.txt

------------------------------------------------

홍길동,20,kildong@hong.com,서울시 강동구

홍길서,25,kilseo@hong.com,서울시 강서구

이런 파일 하나 생성하기

이러한 형식으로 저장된 데이터를 읽어 사용하려면 다음의 작업들이 반복적으로 수행되어야 한다.
- 한 라인씩 읽기
- 한 라인을 콤마 등의 구분자로 분리하기
- 자료형을 변환하기
- NA 또는 없는 필드에 대한 예외 처리하기

In [17]:
f = open("member.txt", "r", encoding="UTF-8-SIG")
lines = f.readlines()
for line in lines :
    data = line.strip().split(',')
    name = data[0]
    age = int(data[1])
    email = data[2]
    address = data[3]
    print("이름 : {}, 나이 : {}, 이메일 : {}, 주소 : {}".format(name, age, email, address))

f.close()

이름 : 홍길동, 나이 : 20, 이메일 : kildong@hong.com, 주소 : 서울시 강동구
이름 : 홍길서, 나이 : 25, 이메일 : kilseo@hong.com, 주소 : 서울시 강서구

피클 모듈은 리스트나 객체들을 파일에 저장할 때 유용하게 사용된다. 피클 모듈은 파이썬 객체 구조를 저장할 수 있다. 이것을 직렬화라고 한다. 저장한 객체를 다시 불러오는 것은 역직렬화 라고 한다.

-------------

### 피클링

피클링은 파이썬 객체 계층 구조가 바이트 스트림으로 변환되고 언피클링은 바이트 스트림이 다시 객체 계층 구조로 변환된다. 피클링을 위해 dump() 함수를 사용한다.

In [18]:
class Member :
    def __init__(self, name, age, email, address) :
        self.name = name
        self.age = age
        self.email = email
        self.address = address

    def __str__(self) :
        return "Name : {}, Age : {}, Email : {}, Address : {}".format(self.name, self.age, self.email, self.address)

user1 = Member("홍길동", 20, "kildong@hong.com", "서울시 강동구")
user2 = Member("홍길서", 20, "kilseo@hong.com", "서울시 강서구")
user_list = [user1, user2]

In [19]:
f = open("member.data", "wb")
import pickle
pickle.dump(user_list, f)
f.close()

이렇게 피클링한 파일은 메모장에서는 사람이 읽을 수 없는 바이너리 형태로 저장된다. 피클링에서 중요하게 생각해야 할 것은 객체를 파일에 저장한다는 것이다.

### 언피클링

피클링한 데이터를 다시 불러오는 것을 언피클링이라고 한다. 언피클링을 위해 load() 함수를 사용한다.

다음 코드는 피클링한 객체를 불러오는 예이다. 데이터를 읽어 문자열을 분리하거나 형변환하는 작업을 하지 않아도 된다.

In [20]:
del user_list
import pickle
f = open("member.data", "rb")
user_list = pickle.load(f)
type(user_list)

list

In [21]:
for user in user_list :
    print(user)
f.close()

Name : 홍길동, Age : 20, Email : kildong@hong.com, Address : 서울시 강동구
Name : 홍길서, Age : 20, Email : kilseo@hong.com, Address : 서울시 강서구

## 3절. CSV 형식 파일 읽기/쓰기

member.CSV
---------------------------------------------------------------
"홍길동",20,"kildong@hong.com","서울시 강동구"
"홍길서",25,"kilseo@hong.com","서울시 강서구"

--------------------------------------------

이런 파일 생성

In [22]:
import csv
with open('member1.csv', 'r', encoding='UTF-8-SIG') as f :
    r = csv.reader(f, quotechar = '"', quoting = csv.QUOTE_NONNUMERIC)
    for row in r :
        print(row)

['홍길동', 20.0, 'kildong@hong.com', '서울시 강동구']
['홍길서', 25.0, 'kilseo@hong.com', '서울시 강서구']

위 코드를 보면 문자는 문자대로, 숫자는 float형식으로 출력된 것을 볼 수 있다.

In [24]:
user_list = [['홍길동',20.0,'kildong@hong.com','서울시 강동구'],['홍길서',25.0,'kilseo@hong.com','서울시 강서구']]

In [25]:
import csv
with open('member2.csv', 'w', newline='', encoding = 'UTF-8-SIG') as f :
    w = csv.writer(f)           # 모든 값이 문자로 저장
    w.writerows(user_list)

In [26]:
import csv
with open('member2.csv', 'w', newline='', encoding = 'UTF-8-SIG') as f :
    w = csv.writer(f, quoting = csv.QUOTE_NONNUMERIC)       # 문자값만 쌍따옴표로 묶임
    w.writerows(user_list)

### DictReader
----------------------------------
member3.csv

Name,Age,Email,Address

홍길동,20,kildong@hong.com,서울시 강동구

홍길서,25,kilseo@hong.com,서울시 강서구

In [27]:
import csv
with open("member3.csv",encoding="UTF-8-SIG") as f :
    dict_reader = csv.DictReader(f)
    for row in dict_reader :
        print(row["Name"],row["Age"],row["Email"],row["Address"])

홍길동 20 kildong@hong.com 서울시 강동구
홍길서 25 kilseo@hong.com 서울시 강서구

csv 파일이 헤더 정보를 포함하고 있지 않다면 fieldnames 속성을 이용해서 필드들의 이름을 지정할 수 있다. 다음 코드는 앞에서 저장했던 memeber1.csv 파일의 내용을 불러올 때 각 필드의 이름을 지정하는 예이다.

In [28]:
import csv
with open("member1.csv",encoding="UTF-8-SIG") as f :
    dict_reader = csv.DictReader(f,
                                fieldnames=["Name","Age","Email","Address"])
    for row in dict_reader :
        print(row["Name"],row["Age"],row["Email"],row["Address"])

홍길동 20 kildong@hong.com 서울시 강동구
홍길서 25 kilseo@hong.com 서울시 강서구

다음은 지정한 필드의 이름보다 데이터의 수가 많으면 restkey 속성에 지정한 이름에 값이 저장되는 예이다.

In [30]:
import csv
with open("member1.csv",encoding="UTF-8-SIG") as f :
    dict_reader = csv.DictReader(f,
                                fieldnames=["Name","Age","Email"], restkey="Etc")
    for row in dict_reader :
        print(row["Name"],row["Age"],row["Email"],row["Etc"])

홍길동 20 kildong@hong.com ['서울시 강동구']
홍길서 25 kilseo@hong.com ['서울시 강서구']

다음은 지정한 필드의 수보다 값의 수가 적으면 restval 속성에 지정한 값이 저장되는 예이다.

member3-2.csv

--------------------------------------------------------------------------------

Name, Age, Email, Address, Etc

홍길동,20,kildong@hong.com,서울시 강동구,동해번쩍

홍길서,25,kilseo@hong.com,서울시 강서구

In [32]:
import csv
with open('member3-2.csv', encoding='UTF-8-SIG') as f :
    dict_reader = csv.DictReader(f, restval="없음")
    for raw in dict_reader :
        print(raw)

{'Name': '홍길동', ' Age': '20', ' Email': 'kildong@hong.com', ' Address': '서울시 강동구', ' Etc': '동해번쩍'}
{'Name': '홍길서', ' Age': '25', ' Email': 'kilseo@hong.com', ' Address': '서울시 강서구', ' Etc': '없음'}

### DictWriter

파일에 저장하기 위한 딕셔너리 데이터 준비

In [33]:
user1 = {"Name" : "홍길동", "Age" : 20, "Email" : "kildong@hong.com", "Address" : "서울시 강동구"}
user2 = {"Name" : "홍길서", "Age" : 25, "Email" : "kilseo@hong.com", "Address" : "서울시 강서구"}

In [34]:
import csv
with open('member4.csv', 'w', newline='', encoding='UTF-8-SIG') as f :
    fieldnames = ['Name', 'Age', 'Email', 'Address']
    dict_writer = csv.DictWriter(f, fieldnames=fieldnames)
    dict_writer.writeheader()
    dict_writer.writerow(user1)
    dict_writer.writerow(user2)

딕셔너리 데이터가 리스트에 저장되어 있으면 writerows() 메서드를 이용하면 리스트의 모든 딕셔너리 데이터를 저장한다.

In [36]:
user_list = [{"Name" : "홍길동", "Age" : 20, "Email" : "kildong@hong.com", "Address" : "서울시 강동구"}, {"Name" : "홍길서", "Age" : 25, "Email" : "kilseo@hong.com", "Address" : "서울시 강서구"}]

In [39]:
import csv
with open('member5.csv','w', newline= '', encoding = 'UTF-8-SIG') as f :
    fieldnames = ['Name','Age','Email','Address']
    dict_writer = csv.DictWriter(f, fieldnames = fieldnames)

    dict_writer.writeheader()
    dict_writer.writerows(user_list)

만일 저장해야 할 데이터가 필드의 수보다 많은 정보를 가지고 있으면 다음처럼 ValueError가 발생한다.

In [40]:
import csv
with open('member5.csv', 'w', newline='', encoding='UTF-8-SIG') as f :
    fieldnames = ['Name', 'Age', 'Email']
    dict_writer = csv.DictWriter(f, fieldnames=fieldnames)

    dict_writer.writeheader()
    dict_writer.writerows(user_list)

ValueError: dict contains fields not in fieldnames: 'Address'

extrasaction 속성의 값이 'ignore'이면 지정한 필드에 없는 딕셔너리 데이터를 무시한다.

In [41]:
import csv
with open('member5-2.csv', 'w', newline='', encoding='UTF-8-SIG') as f :
    fieldnames = ['Name', 'Age', 'Email']
    dict_writer = csv.DictWriter(f, fieldnames=fieldnames, extrasaction='ignore')

    dict_writer.writeheader()
    dict_writer.writerows(user_list)

## 4절. JSON 데이터 저장하고 불러오기

### JSON 데이터 저장하기

다음 코드는 파이썬 객체를 JSON 형식으로 파일에 저장한다.

In [42]:
data = ['foo', {'bar' : ('baz', None, 1.0, 2)}]

import json
with open('sample.json', 'w') as jsonfile :
    json.dump(data, jsonfile)

In [44]:
data = ['foo', {'bar' : ('baz', None, 1.0, 2)}]

import json
with open('sample1.json', 'w') as jsonfile :
    json.dump(data, jsonfile, indent = True)

### default를 이용한 JSON 형식으로 객체 저장

In [45]:
class Member :
    def __init__(self, name, age, email, address) :
        self.name = name
        self.age = age
        self.email = email
        self.address = address

    def as_dict(self) :
        return {'name' : self.name, 'age' : self.age, 'email' : self.email, 'address' : self.address}

In [46]:
user1 = Member('홍길동',20,'kildong@hong.com', '서울시 강동구')
user2 = Member('홍길서',25,'kilseo@hong.com', '서울시 강서구')
user_list = [user1, user2]

In [47]:
import json
with open('member.json','w',encoding='UTF-8-SIG') as jsonfile :
    json.dump(user_list, jsonfile, ensure_ascii=False, indent="\t", default = Member.as_dict)

### JSON load

다음 코드는 앞에서 저장한 member.json 파일 데이터를 불러와서 출력한다.

In [1]:
import json
with open('member.json', encoding='UTF-8-SIG') as jsonfile :
    user_list = json.load(jsonfile)
    print(user_list)

[{'name': '홍길동', 'age': 20, 'email': 'kildong@hong.com', 'address': '서울시 강동구'}, {'name': '홍길서', 'age': 25, 'email': 'kilseo@hong.com', 'address': '서울시 강서구'}]

### object_hook을 이용한 JSON 파일을 객체로 역직렬화

다음 코드는 object_hook 매개변수에 역직렬화 메서드를 지정해서 JSON 데이터를 Member 타입 객체로 만드는 예다. 객체의 내용을 출력해 보기 위해 앞에서 작성한 Member 클래스에 __str__() 메서드를 추가했다.

In [2]:
class Member :
    def __init__(self, name, age, email, address) :
        self.name = name
        self.age = age
        self.email = email
        self.address = address

    def __str__(self) :
        return "name : {}, age : {}, email : {}, address : {}".format(self.name, self.age, self.email, self.address)

    def as_dict(self) :
        return {"name" : self.name, "age" : self.age, "email" : self.email, "address" : self.address}

In [6]:
def as_member(dct) :
    return Member(dct['name'], dct['age'], dct['email'], dct['address'])

In [7]:
import json
with open('member.json', encoding='UTF-8-SIG') as jsonfile :
    user_list = json.load(jsonfile, object_hook=as_member)
    for user in user_list :
        print(user)

name : 홍길동, age : 20, email : kildong@hong.com, address : 서울시 강동구
name : 홍길서, age : 25, email : kilseo@hong.com, address : 서울시 강서구

object_hook 인수로 지정한 as_member 메서드는 JSON 형식 데이터를 한 라인씩 읽을 때마다 호출된다. 그리고 이 메서드가 반환하는 객체 유형으로 변환된다.

### 인코더

파이썬 객체를 JSON 형식으로 변환하기 위해 JSONEncoder 를 사용할 수 있다. 이 클래스를 상속받아 구현한 클래스 dump() 함수의 cls 인수에 사용될 수 있다.

다음 코드는 Member 클래스의 객체를 저장하기 위해 Member 객체를 원하는 타입으로 만드는 인코더 클래스이다. MemberEncoder 클래스의 default() 메서드는 객체를 리스트타입으로 반환하도록 구현했다.

In [9]:
import json

class MemberEncoder(json.JSONEncoder) :
    def default(self, obj) :
        if isinstance(obj, Member) :
            return [obj.name, obj.age, obj.email, obj.address]
        return json.JSONEncoder.default(self, obj)

다음 코드는 cls 인자 값으로 MemberEncoder 클래스를 지정했다.

In [10]:
with open('member2.json', 'w', encoding='UTF-8-SIG') as jsonfile :
    json.dump(user_list, jsonfile, indent = '\t', ensure_ascii=False, cls=MemberEncoder)

### 디코더

JSON 형식 데이터를 파이썬 객체로 변환하기 위해 JSONDecoder 를 사용할 수 있다. 이 클래스를 상속받아 구현한 클래스는 각각 load() 함수의 cls 인자에 사용될 수 있다.

다음 코드는 member.json 데이터를 읽어 Member 객체로 반환하는 디코더이다. 사용자정의 디코더를 만들 때 반드시 생성자를 작성해야 한다.

In [11]:
import json
class MemberDecoder(json.JSONDecoder) :
    def __init__(self, *args, **kwargs) :
        json.JSONDecoder.__init__(self, object_hook=self.object_hook, *args, **kwargs)

    def object_hook(self, obj) :
        if('name' in obj) :
            return Member(obj['name'], obj['age'], obj['email'], obj['address'])
        return json.JSONDecoder.object_hook(self,obj)

다음 코드는 load() 메서드의 cls 인자에 MemberDecoder를 지정한 예이다.

In [12]:
with open('member.json', encoding='UTF-8-SIG') as jsonfile :
    user_list = json.load(jsonfile, cls = MemberDecoder)
    for user in user_list :
        print(user)

name : 홍길동, age : 20, email : kildong@hong.com, address : 서울시 강동구
name : 홍길서, age : 25, email : kilseo@hong.com, address : 서울시 강서구

-----------------------------------------------------------------------------------

## 파일을 이용한 고객관리 애플리케이션 프로젝트

1. 파이썬으로 고객관리 애플리케이션을 작성하세요.
- 고객정보는 이름, 전화번호, 나이, 고객등급, 이메일, 기타 특징점이다.
- 고객 클래스를 이용하여 정보를 저장하고 리스트를 이용하여 관리해야 한다.
- 고객 정보들은 파일에 저장하고 불러올 수 있어야 한다. 데이터 저장은 피클을 사용해라
- 리스트 데이터는 CSV 파일로 내보내기 기능이 있어야 한다.
- 고객의 정보는 입력, 고객정보 전체 조회, 검색(이름으로 검색) , 삭제(이름으로) 할 수 있어야 한다.

In [24]:
# 파이썬 고객관리 어플리게이션

class Customer:
    def __init__(self, name, phone, email, age, grade, etc) :
        self.name = name
        self.phone = phone
        self.email = email
        self.age = age
        self.grade = grade
        self.etc = etc

    def print_info(self) :
        print('{:>5} {:<3} {:<15} {:<15} {:>3} {:}'.format('*'*self.grade, self.name, self.phone, self.email, self.age, self.etc))

def print_customer(cust_list) :
    print("\n======================================================")
    print(" "*15,"고 객 정 보 리 스 트")
    print("======================================================")
    print('{:<5} {:<6} {:<15} {:<15} {:>3} {:}'.format("GRADE","NAME","PHONE","EMAIL","AGE","ETC"))
    print("======================================================")
    for cust in cust_list :
        cust.print_info()
    print("======================================================")

def search_customer(cust_list, name) :
    search_list = []
    for i, cust in enumerate(cust_list) :
        if cust.name == name :
            search_list.append(cust_list[i])
    return search_list ;

def delete_customer(cust_list, name) :
    for i, cust in enumerate(cust_list) :
        if cust.name == name :
            del cust_list[i]
            break

def insert_customer_info() :
    name = input("이름 :")
    phone = input("전화번호 :")
    email = input("이메일 :")
    age = input("나이 :")
    grade = input("고객등급(1~5) :")
    etc = input("기타정보 :")
    cust = Customer(name, phone, email, age, int(grade), etc)
    return cust

In [18]:
cu1 = Customer('홍길동', '010-111-1111', 'test1@test.com', 25,2, 'tester')
cu2 = Customer('홍길서', '010-222-2222', 'test2@test.com', 25,3, 'tester')
culst = [cu1, cu2]
print_customer(culst)

======================================================
                고 객 정 보 리 스 트
======================================================
GRADE NAME   PHONE           EMAIL           AGE ETC
======================================================
   ** 홍길동 010-111-1111    test1@test.com   25 tester
  *** 홍길서 010-222-2222    test2@test.com   25 tester
======================================================

In [20]:
def save_customer(cust_list) :
    try :
        f = open("customer_db.data", "wb")
        import pickle
        pickle.dump(cust_list, f)
    except Exception as e :
        print("데이터 저장 예외 :", e)
    finally :
        f.close()

def load_customer() :
    cust_list = []
    try :
        f = open("customer_db.data", "rb")
        import pickle
        cust_list = pickle.load(f)
    except Exception as e :
        print("데이터 로드 예외 :", e)
    finally :
        try :
            f.close()
        except Exception :
            pass
    return cust_list

In [21]:
save_customer(culst)

In [22]:
def print_menu() :
    print("1. 입력", "2. 전체조회","3. 삭제","4. 찾기", "5. 내보내기(CSV)", "9. 종료", sep = "|" , end = "")
    menu = input("메뉴 선택 :")
    return int(menu)

def save_csv(cust_list) :
    try :
        file.name = input("저장할 파일 이름을 입력하세요.")
        f = open(file.name, "wt")
        for cust in cust_list :
            print(cust.name, cust.phone, cust.email, cust.age, cust.grade, cust.etc, sep = ',' , end = '\n', flie = f)
    except Exception as e :
        print("예외발생 :", e)
    else :
        print("CSV 파일이 저장되었습니다. 파일명 :", file_name)
    finally :
        f.close()

def main() :
    cust_list = []

    try :
        cust_list = load_customer()
    except OSError as e :
        print(e)
    else :
        print("데이터파일이 로드되었습니다.")
    
    while True :
        menu = print_menu()
        if menu == 1 :
            cust = insert_customer_info()
            cust_list.append(cust)
        elif menu == 2:
            print_customer(cust_list)
        elif menu == 3 :
            name = input("삭제할 이름을 입력하세요.")
            delete_customer(cust_list, name)
        elif menu == 4:
            name = input("찾을 고객 이름을 입력하세요.")
            print_customer(search_customer(cust_list, name))
        elif menu == 5 :
            save_csv(cust_list)
        elif menu == 9 :
            save_customer(cust_list)
            break

In [27]:
if __name__ == '__main__' :
    main()

데이터파일이 로드되었습니다.
1. 입력|2. 전체조회|3. 삭제|4. 찾기|5. 내보내기(CSV)|9. 종료
======================================================
                고 객 정 보 리 스 트
======================================================
GRADE NAME   PHONE           EMAIL           AGE ETC
======================================================
   ** 홍길동 010-111-1111    test1@test.com   25 tester
  *** 홍길서 010-222-2222    test2@test.com   25 tester
    * 정찬웅 010-333-3333    adslncl@annlcs.com  27 졸림
======================================================
1. 입력|2. 전체조회|3. 삭제|4. 찾기|5. 내보내기(CSV)|9. 종료

-----------------------------------------------------------------

# 10장. 데이터베이스 연동

## 오라클 데이터베이스 연결

### cx_Oracle 패키지

In [1]:
import cx_Oracle

In [3]:
oracle_dsn = cx_Oracle.makedsn(host = "localhost", port = 1521, sid = "xe")
oracle_dsn

'(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SID=xe)))'

In [5]:
conn = cx_Oracle.connect(dsn = oracle_dsn, user = "hr", password = "hr1234")
conn

### EMPLOYEES 테이블 데이터 조회하기

쿼리문을 실행시키려면 커서(CURSOR) 객체가 있어야 한다. cursor 객체의 execute() 함수를 이용해 쿼리문을 실행시킨다.

In [6]:
cursor = conn.cursor()

In [7]:
sql = "select first_name, last_name from employees"
cursor.execute(sql)

In [8]:
for name in cursor :
    print(name)

('Ellen', 'Abel')
('Sundar', 'Ande')
('Mozhe', 'Atkinson')
('David', 'Austin')
('Hermann', 'Baer')
('Shelli', 'Baida')
('Amit', 'Banda')
('Elizabeth', 'Bates')
('Sarah', 'Bell')
('David', 'Bernstein')
('Laura', 'Bissot')
('Harrison', 'Bloom')
('Alexis', 'Bull')
('Anthony', 'Cabrio')
('Gerald', 'Cambrault')
('Nanette', 'Cambrault')
('John', 'Chen')
('Kelly', 'Chung')
('Karen', 'Colmenares')
('Curtis', 'Davies')
('Lex', 'De Haan')
('Julia', 'Dellinger')
('Jennifer', 'Dilly')
('Louise', 'Doran')
('Bruce', 'Ernst')
('Alberto', 'Errazuriz')
('Britney', 'Everett')
('Daniel', 'Faviet')
('Pat', 'Fay')
('Kevin', 'Feeney')
('Jean', 'Fleaur')
('Tayler', 'Fox')
('Adam', 'Fripp')
('Timothy', 'Gates')
('Ki', 'Gee')
('Girard', 'Geoni')
('William', 'Gietz')
('Douglas', 'Grant')
('Kimberely', 'Grant')
('Nancy', 'Greenberg')
('Danielle', 'Greene')
('Peter', 'Hall')
('Michael', 'Hartstein')
('Shelley', 'Higgins')
('Guy', 'Himuro')
('Alexander', 'Hunold')
('Alyssa', 'Hutton')
('Charles', 'Johnson')
('Vance', 'Jones')
('Payam', 'Kaufling')
('Alexander', 'Khoo')
('Janette', 'King')
('Steven', 'King')
('Neena', 'Kochhar')
('Sundita', 'Kumar')
('Renske', 'Ladwig')
('James', 'Landry')
('David', 'Lee')
('Jack', 'Livingston')
('Diana', 'Lorentz')
('Jason', 'Mallin')
('Steven', 'Markle')
('James', 'Marlow')
('Mattea', 'Marvins')
('Randall', 'Matos')
('Susan', 'Mavris')
('Samuel', 'McCain')
('Allan', 'McEwen')
('Irene', 'Mikkilineni')
('Kevin', 'Mourgos')
('Julia', 'Nayer')
('Donald', 'OConnell')
('Christopher', 'Olsen')
('TJ', 'Olson')
('Lisa', 'Ozer')
('Karen', 'Partners')
('Valli', 'Pataballa')
('Joshua', 'Patel')
('Randall', 'Perkins')
('Hazel', 'Philtanker')
('Luis', 'Popp')
('Trenna', 'Rajs')
('Den', 'Raphaely')
('Michael', 'Rogers')
('John', 'Russell')
('Nandita', 'Sarchand')
('Ismael', 'Sciarra')
('John', 'Seo')
('Sarath', 'Sewall')
('Lindsey', 'Smith')
('William', 'Smith')
('Stephen', 'Stiles')
('Martha', 'Sullivan')
('Patrick', 'Sully')
('Jonathon', 'Taylor')
('Winston', 'Taylor')
('Sigal', 'Tobias')
('Peter', 'Tucker')
('Oliver', 'Tuvault')
('Jose Manuel', 'Urman')
('Peter', 'Vargas')
('Clara', 'Vishney')
('Shanta', 'Vollman')
('Alana', 'Walsh')
('Matthew', 'Weiss')
('Jennifer', 'Whalen')
('Eleni', 'Zlotkey')

In [9]:
cursor.execute("select * from employees")
for emp in cursor :
    print(emp)

(100, 'Steven', 'King', 'SKING', '515.123.4567', datetime.datetime(2003, 6, 17, 0, 0), 'AD_PRES', 24000.0, None, None, 90)
(101, 'Neena', 'Kochhar', 'NKOCHHAR', '515.123.4568', datetime.datetime(2005, 9, 21, 0, 0), 'AD_VP', 17000.0, None, 100, 90)
(102, 'Lex', 'De Haan', 'LDEHAAN', '515.123.4569', datetime.datetime(2001, 1, 13, 0, 0), 'AD_VP', 17000.0, None, 100, 90)
(103, 'Alexander', 'Hunold', 'AHUNOLD', '590.423.4567', datetime.datetime(2006, 1, 3, 0, 0), 'IT_PROG', 9000.0, None, 102, 60)
(104, 'Bruce', 'Ernst', 'BERNST', '590.423.4568', datetime.datetime(2007, 5, 21, 0, 0), 'IT_PROG', 6000.0, None, 103, 60)
(105, 'David', 'Austin', 'DAUSTIN', '590.423.4569', datetime.datetime(2005, 6, 25, 0, 0), 'IT_PROG', 4800.0, None, 103, 60)
(106, 'Valli', 'Pataballa', 'VPATABAL', '590.423.4560', datetime.datetime(2006, 2, 5, 0, 0), 'IT_PROG', 4800.0, None, 103, 60)
(107, 'Diana', 'Lorentz', 'DLORENTZ', '590.423.5567', datetime.datetime(2007, 2, 7, 0, 0), 'IT_PROG', 4200.0, None, 103, 60)
(108, 'Nancy', 'Greenberg', 'NGREENBE', '515.124.4569', datetime.datetime(2002, 8, 17, 0, 0), 'FI_MGR', 12008.0, None, 101, 100)
(109, 'Daniel', 'Faviet', 'DFAVIET', '515.124.4169', datetime.datetime(2002, 8, 16, 0, 0), 'FI_ACCOUNT', 9000.0, None, 108, 100)
(110, 'John', 'Chen', 'JCHEN', '515.124.4269', datetime.datetime(2005, 9, 28, 0, 0), 'FI_ACCOUNT', 8200.0, None, 108, 100)
(111, 'Ismael', 'Sciarra', 'ISCIARRA', '515.124.4369', datetime.datetime(2005, 9, 30, 0, 0), 'FI_ACCOUNT', 7700.0, None, 108, 100)
(112, 'Jose Manuel', 'Urman', 'JMURMAN', '515.124.4469', datetime.datetime(2006, 3, 7, 0, 0), 'FI_ACCOUNT', 7800.0, None, 108, 100)
(113, 'Luis', 'Popp', 'LPOPP', '515.124.4567', datetime.datetime(2007, 12, 7, 0, 0), 'FI_ACCOUNT', 6900.0, None, 108, 100)
(114, 'Den', 'Raphaely', 'DRAPHEAL', '515.127.4561', datetime.datetime(2002, 12, 7, 0, 0), 'PU_MAN', 11000.0, None, 100, 30)
(115, 'Alexander', 'Khoo', 'AKHOO', '515.127.4562', datetime.datetime(2003, 5, 18, 0, 0), 'PU_CLERK', 3100.0, None, 114, 30)
(116, 'Shelli', 'Baida', 'SBAIDA', '515.127.4563', datetime.datetime(2005, 12, 24, 0, 0), 'PU_CLERK', 2900.0, None, 114, 30)
(117, 'Sigal', 'Tobias', 'STOBIAS', '515.127.4564', datetime.datetime(2005, 7, 24, 0, 0), 'PU_CLERK', 2800.0, None, 114, 30)
(118, 'Guy', 'Himuro', 'GHIMURO', '515.127.4565', datetime.datetime(2006, 11, 15, 0, 0), 'PU_CLERK', 2600.0, None, 114, 30)
(119, 'Karen', 'Colmenares', 'KCOLMENA', '515.127.4566', datetime.datetime(2007, 8, 10, 0, 0), 'PU_CLERK', 2500.0, None, 114, 30)
(120, 'Matthew', 'Weiss', 'MWEISS', '650.123.1234', datetime.datetime(2004, 7, 18, 0, 0), 'ST_MAN', 8000.0, None, 100, 50)
(121, 'Adam', 'Fripp', 'AFRIPP', '650.123.2234', datetime.datetime(2005, 4, 10, 0, 0), 'ST_MAN', 8200.0, None, 100, 50)
(122, 'Payam', 'Kaufling', 'PKAUFLIN', '650.123.3234', datetime.datetime(2003, 5, 1, 0, 0), 'ST_MAN', 7900.0, None, 100, 50)
(123, 'Shanta', 'Vollman', 'SVOLLMAN', '650.123.4234', datetime.datetime(2005, 10, 10, 0, 0), 'ST_MAN', 6500.0, None, 100, 50)
(124, 'Kevin', 'Mourgos', 'KMOURGOS', '650.123.5234', datetime.datetime(2007, 11, 16, 0, 0), 'ST_MAN', 5800.0, None, 100, 50)
(125, 'Julia', 'Nayer', 'JNAYER', '650.124.1214', datetime.datetime(2005, 7, 16, 0, 0), 'ST_CLERK', 3200.0, None, 120, 50)
(126, 'Irene', 'Mikkilineni', 'IMIKKILI', '650.124.1224', datetime.datetime(2006, 9, 28, 0, 0), 'ST_CLERK', 2700.0, None, 120, 50)
(127, 'James', 'Landry', 'JLANDRY', '650.124.1334', datetime.datetime(2007, 1, 14, 0, 0), 'ST_CLERK', 2400.0, None, 120, 50)
(128, 'Steven', 'Markle', 'SMARKLE', '650.124.1434', datetime.datetime(2008, 3, 8, 0, 0), 'ST_CLERK', 2200.0, None, 120, 50)
(129, 'Laura', 'Bissot', 'LBISSOT', '650.124.5234', datetime.datetime(2005, 8, 20, 0, 0), 'ST_CLERK', 3300.0, None, 121, 50)
(130, 'Mozhe', 'Atkinson', 'MATKINSO', '650.124.6234', datetime.datetime(2005, 10, 30, 0, 0), 'ST_CLERK', 2800.0, None, 121, 50)
(131, 'James', 'Marlow', 'JAMRLOW', '650.124.7234', datetime.datetime(2005, 2, 16, 0, 0), 'ST_CLERK', 2500.0, None, 121, 50)
(132, 'TJ', 'Olson', 'TJOLSON', '650.124.8234', datetime.datetime(2007, 4, 10, 0, 0), 'ST_CLERK', 2100.0, None, 121, 50)
(133, 'Jason', 'Mallin', 'JMALLIN', '650.127.1934', datetime.datetime(2004, 6, 14, 0, 0), 'ST_CLERK', 3300.0, None, 122, 50)
(134, 'Michael', 'Rogers', 'MROGERS', '650.127.1834', datetime.datetime(2006, 8, 26, 0, 0), 'ST_CLERK', 2900.0, None, 122, 50)
(135, 'Ki', 'Gee', 'KGEE', '650.127.1734', datetime.datetime(2007, 12, 12, 0, 0), 'ST_CLERK', 2400.0, None, 122, 50)
(136, 'Hazel', 'Philtanker', 'HPHILTAN', '650.127.1634', datetime.datetime(2008, 2, 6, 0, 0), 'ST_CLERK', 2200.0, None, 122, 50)
(137, 'Renske', 'Ladwig', 'RLADWIG', '650.121.1234', datetime.datetime(2003, 7, 14, 0, 0), 'ST_CLERK', 3600.0, None, 123, 50)
(138, 'Stephen', 'Stiles', 'SSTILES', '650.121.2034', datetime.datetime(2005, 10, 26, 0, 0), 'ST_CLERK', 3200.0, None, 123, 50)
(139, 'John', 'Seo', 'JSEO', '650.121.2019', datetime.datetime(2006, 2, 12, 0, 0), 'ST_CLERK', 2700.0, None, 123, 50)
(140, 'Joshua', 'Patel', 'JPATEL', '650.121.1834', datetime.datetime(2006, 4, 6, 0, 0), 'ST_CLERK', 2500.0, None, 123, 50)
(141, 'Trenna', 'Rajs', 'TRAJS', '650.121.8009', datetime.datetime(2003, 10, 17, 0, 0), 'ST_CLERK', 3500.0, None, 124, 50)
(142, 'Curtis', 'Davies', 'CDAVIES', '650.121.2994', datetime.datetime(2005, 1, 29, 0, 0), 'ST_CLERK', 3100.0, None, 124, 50)
(143, 'Randall', 'Matos', 'RMATOS', '650.121.2874', datetime.datetime(2006, 3, 15, 0, 0), 'ST_CLERK', 2600.0, None, 124, 50)
(144, 'Peter', 'Vargas', 'PVARGAS', '650.121.2004', datetime.datetime(2006, 7, 9, 0, 0), 'ST_CLERK', 2500.0, None, 124, 50)
(145, 'John', 'Russell', 'JRUSSEL', '011.44.1344.429268', datetime.datetime(2004, 10, 1, 0, 0), 'SA_MAN', 14000.0, 0.4, 100, 80)
(146, 'Karen', 'Partners', 'KPARTNER', '011.44.1344.467268', datetime.datetime(2005, 1, 5, 0, 0), 'SA_MAN', 13500.0, 0.3, 100, 80)
(147, 'Alberto', 'Errazuriz', 'AERRAZUR', '011.44.1344.429278', datetime.datetime(2005, 3, 10, 0, 0), 'SA_MAN', 12000.0, 0.3, 100, 80)
(148, 'Gerald', 'Cambrault', 'GCAMBRAU', '011.44.1344.619268', datetime.datetime(2007, 10, 15, 0, 0), 'SA_MAN', 11000.0, 0.3, 100, 80)
(149, 'Eleni', 'Zlotkey', 'EZLOTKEY', '011.44.1344.429018', datetime.datetime(2008, 1, 29, 0, 0), 'SA_MAN', 10500.0, 0.2, 100, 80)
(150, 'Peter', 'Tucker', 'PTUCKER', '011.44.1344.129268', datetime.datetime(2005, 1, 30, 0, 0), 'SA_REP', 10000.0, 0.3, 145, 80)
(151, 'David', 'Bernstein', 'DBERNSTE', '011.44.1344.345268', datetime.datetime(2005, 3, 24, 0, 0), 'SA_REP', 9500.0, 0.25, 145, 80)
(152, 'Peter', 'Hall', 'PHALL', '011.44.1344.478968', datetime.datetime(2005, 8, 20, 0, 0), 'SA_REP', 9000.0, 0.25, 145, 80)
(153, 'Christopher', 'Olsen', 'COLSEN', '011.44.1344.498718', datetime.datetime(2006, 3, 30, 0, 0), 'SA_REP', 8000.0, 0.2, 145, 80)
(154, 'Nanette', 'Cambrault', 'NCAMBRAU', '011.44.1344.987668', datetime.datetime(2006, 12, 9, 0, 0), 'SA_REP', 7500.0, 0.2, 145, 80)
(155, 'Oliver', 'Tuvault', 'OTUVAULT', '011.44.1344.486508', datetime.datetime(2007, 11, 23, 0, 0), 'SA_REP', 7000.0, 0.15, 145, 80)
(156, 'Janette', 'King', 'JKING', '011.44.1345.429268', datetime.datetime(2004, 1, 30, 0, 0), 'SA_REP', 10000.0, 0.35, 146, 80)
(157, 'Patrick', 'Sully', 'PSULLY', '011.44.1345.929268', datetime.datetime(2004, 3, 4, 0, 0), 'SA_REP', 9500.0, 0.35, 146, 80)
(158, 'Allan', 'McEwen', 'AMCEWEN', '011.44.1345.829268', datetime.datetime(2004, 8, 1, 0, 0), 'SA_REP', 9000.0, 0.35, 146, 80)
(159, 'Lindsey', 'Smith', 'LSMITH', '011.44.1345.729268', datetime.datetime(2005, 3, 10, 0, 0), 'SA_REP', 8000.0, 0.3, 146, 80)
(160, 'Louise', 'Doran', 'LDORAN', '011.44.1345.629268', datetime.datetime(2005, 12, 15, 0, 0), 'SA_REP', 7500.0, 0.3, 146, 80)
(161, 'Sarath', 'Sewall', 'SSEWALL', '011.44.1345.529268', datetime.datetime(2006, 11, 3, 0, 0), 'SA_REP', 7000.0, 0.25, 146, 80)
(162, 'Clara', 'Vishney', 'CVISHNEY', '011.44.1346.129268', datetime.datetime(2005, 11, 11, 0, 0), 'SA_REP', 10500.0, 0.25, 147, 80)
(163, 'Danielle', 'Greene', 'DGREENE', '011.44.1346.229268', datetime.datetime(2007, 3, 19, 0, 0), 'SA_REP', 9500.0, 0.15, 147, 80)
(164, 'Mattea', 'Marvins', 'MMARVINS', '011.44.1346.329268', datetime.datetime(2008, 1, 24, 0, 0), 'SA_REP', 7200.0, 0.1, 147, 80)
(165, 'David', 'Lee', 'DLEE', '011.44.1346.529268', datetime.datetime(2008, 2, 23, 0, 0), 'SA_REP', 6800.0, 0.1, 147, 80)
(166, 'Sundar', 'Ande', 'SANDE', '011.44.1346.629268', datetime.datetime(2008, 3, 24, 0, 0), 'SA_REP', 6400.0, 0.1, 147, 80)
(167, 'Amit', 'Banda', 'ABANDA', '011.44.1346.729268', datetime.datetime(2008, 4, 21, 0, 0), 'SA_REP', 6200.0, 0.1, 147, 80)
(168, 'Lisa', 'Ozer', 'LOZER', '011.44.1343.929268', datetime.datetime(2005, 3, 11, 0, 0), 'SA_REP', 11500.0, 0.25, 148, 80)
(169, 'Harrison', 'Bloom', 'HBLOOM', '011.44.1343.829268', datetime.datetime(2006, 3, 23, 0, 0), 'SA_REP', 10000.0, 0.2, 148, 80)
(170, 'Tayler', 'Fox', 'TFOX', '011.44.1343.729268', datetime.datetime(2006, 1, 24, 0, 0), 'SA_REP', 9600.0, 0.2, 148, 80)
(171, 'William', 'Smith', 'WSMITH', '011.44.1343.629268', datetime.datetime(2007, 2, 23, 0, 0), 'SA_REP', 7400.0, 0.15, 148, 80)
(172, 'Elizabeth', 'Bates', 'EBATES', '011.44.1343.529268', datetime.datetime(2007, 3, 24, 0, 0), 'SA_REP', 7300.0, 0.15, 148, 80)
(173, 'Sundita', 'Kumar', 'SKUMAR', '011.44.1343.329268', datetime.datetime(2008, 4, 21, 0, 0), 'SA_REP', 6100.0, 0.1, 148, 80)
(174, 'Ellen', 'Abel', 'EABEL', '011.44.1644.429267', datetime.datetime(2004, 5, 11, 0, 0), 'SA_REP', 11000.0, 0.3, 149, 80)
(175, 'Alyssa', 'Hutton', 'AHUTTON', '011.44.1644.429266', datetime.datetime(2005, 3, 19, 0, 0), 'SA_REP', 8800.0, 0.25, 149, 80)
(176, 'Jonathon', 'Taylor', 'JTAYLOR', '011.44.1644.429265', datetime.datetime(2006, 3, 24, 0, 0), 'SA_REP', 8600.0, 0.2, 149, 80)
(177, 'Jack', 'Livingston', 'JLIVINGS', '011.44.1644.429264', datetime.datetime(2006, 4, 23, 0, 0), 'SA_REP', 8400.0, 0.2, 149, 80)
(178, 'Kimberely', 'Grant', 'KGRANT', '011.44.1644.429263', datetime.datetime(2007, 5, 24, 0, 0), 'SA_REP', 7000.0, 0.15, 149, None)
(179, 'Charles', 'Johnson', 'CJOHNSON', '011.44.1644.429262', datetime.datetime(2008, 1, 4, 0, 0), 'SA_REP', 6200.0, 0.1, 149, 80)
(180, 'Winston', 'Taylor', 'WTAYLOR', '650.507.9876', datetime.datetime(2006, 1, 24, 0, 0), 'SH_CLERK', 3200.0, None, 120, 50)
(181, 'Jean', 'Fleaur', 'JFLEAUR', '650.507.9877', datetime.datetime(2006, 2, 23, 0, 0), 'SH_CLERK', 3100.0, None, 120, 50)
(182, 'Martha', 'Sullivan', 'MSULLIVA', '650.507.9878', datetime.datetime(2007, 6, 21, 0, 0), 'SH_CLERK', 2500.0, None, 120, 50)
(183, 'Girard', 'Geoni', 'GGEONI', '650.507.9879', datetime.datetime(2008, 2, 3, 0, 0), 'SH_CLERK', 2800.0, None, 120, 50)
(184, 'Nandita', 'Sarchand', 'NSARCHAN', '650.509.1876', datetime.datetime(2004, 1, 27, 0, 0), 'SH_CLERK', 4200.0, None, 121, 50)
(185, 'Alexis', 'Bull', 'ABULL', '650.509.2876', datetime.datetime(2005, 2, 20, 0, 0), 'SH_CLERK', 4100.0, None, 121, 50)
(186, 'Julia', 'Dellinger', 'JDELLING', '650.509.3876', datetime.datetime(2006, 6, 24, 0, 0), 'SH_CLERK', 3400.0, None, 121, 50)
(187, 'Anthony', 'Cabrio', 'ACABRIO', '650.509.4876', datetime.datetime(2007, 2, 7, 0, 0), 'SH_CLERK', 3000.0, None, 121, 50)
(188, 'Kelly', 'Chung', 'KCHUNG', '650.505.1876', datetime.datetime(2005, 6, 14, 0, 0), 'SH_CLERK', 3800.0, None, 122, 50)
(189, 'Jennifer', 'Dilly', 'JDILLY', '650.505.2876', datetime.datetime(2005, 8, 13, 0, 0), 'SH_CLERK', 3600.0, None, 122, 50)
(190, 'Timothy', 'Gates', 'TGATES', '650.505.3876', datetime.datetime(2006, 7, 11, 0, 0), 'SH_CLERK', 2900.0, None, 122, 50)
(191, 'Randall', 'Perkins', 'RPERKINS', '650.505.4876', datetime.datetime(2007, 12, 19, 0, 0), 'SH_CLERK', 2500.0, None, 122, 50)
(192, 'Sarah', 'Bell', 'SBELL', '650.501.1876', datetime.datetime(2004, 2, 4, 0, 0), 'SH_CLERK', 4000.0, None, 123, 50)
(193, 'Britney', 'Everett', 'BEVERETT', '650.501.2876', datetime.datetime(2005, 3, 3, 0, 0), 'SH_CLERK', 3900.0, None, 123, 50)
(194, 'Samuel', 'McCain', 'SMCCAIN', '650.501.3876', datetime.datetime(2006, 7, 1, 0, 0), 'SH_CLERK', 3200.0, None, 123, 50)
(195, 'Vance', 'Jones', 'VJONES', '650.501.4876', datetime.datetime(2007, 3, 17, 0, 0), 'SH_CLERK', 2800.0, None, 123, 50)
(196, 'Alana', 'Walsh', 'AWALSH', '650.507.9811', datetime.datetime(2006, 4, 24, 0, 0), 'SH_CLERK', 3100.0, None, 124, 50)
(197, 'Kevin', 'Feeney', 'KFEENEY', '650.507.9822', datetime.datetime(2006, 5, 23, 0, 0), 'SH_CLERK', 3000.0, None, 124, 50)
(198, 'Donald', 'OConnell', 'DOCONNEL', '650.507.9833', datetime.datetime(2007, 6, 21, 0, 0), 'SH_CLERK', 2600.0, None, 124, 50)
(199, 'Douglas', 'Grant', 'DGRANT', '650.507.9844', datetime.datetime(2008, 1, 13, 0, 0), 'SH_CLERK', 2600.0, None, 124, 50)
(200, 'Jennifer', 'Whalen', 'JWHALEN', '515.123.4444', datetime.datetime(2003, 9, 17, 0, 0), 'AD_ASST', 4400.0, None, 101, 10)
(201, 'Michael', 'Hartstein', 'MHARTSTE', '515.123.5555', datetime.datetime(2004, 2, 17, 0, 0), 'MK_MAN', 13000.0, None, 100, 20)
(202, 'Pat', 'Fay', 'PFAY', '603.123.6666', datetime.datetime(2005, 8, 17, 0, 0), 'MK_REP', 6000.0, None, 201, 20)
(203, 'Susan', 'Mavris', 'SMAVRIS', '515.123.7777', datetime.datetime(2002, 6, 7, 0, 0), 'HR_REP', 6500.0, None, 101, 40)
(204, 'Hermann', 'Baer', 'HBAER', '515.123.8888', datetime.datetime(2002, 6, 7, 0, 0), 'PR_REP', 10000.0, None, 101, 70)
(205, 'Shelley', 'Higgins', 'SHIGGINS', '515.123.8080', datetime.datetime(2002, 6, 7, 0, 0), 'AC_MGR', 12008.0, None, 101, 110)
(206, 'William', 'Gietz', 'WGIETZ', '515.123.8181', datetime.datetime(2002, 6, 7, 0, 0), 'AC_ACCOUNT', 8300.0, None, 205, 110)

In [11]:
cursor.execute("select * from employees where department_id = : dept_id", {"dept_id" : 50})
for emp in cursor :
    print(emp)

(120, 'Matthew', 'Weiss', 'MWEISS', '650.123.1234', datetime.datetime(2004, 7, 18, 0, 0), 'ST_MAN', 8000.0, None, 100, 50)
(121, 'Adam', 'Fripp', 'AFRIPP', '650.123.2234', datetime.datetime(2005, 4, 10, 0, 0), 'ST_MAN', 8200.0, None, 100, 50)
(122, 'Payam', 'Kaufling', 'PKAUFLIN', '650.123.3234', datetime.datetime(2003, 5, 1, 0, 0), 'ST_MAN', 7900.0, None, 100, 50)
(123, 'Shanta', 'Vollman', 'SVOLLMAN', '650.123.4234', datetime.datetime(2005, 10, 10, 0, 0), 'ST_MAN', 6500.0, None, 100, 50)
(124, 'Kevin', 'Mourgos', 'KMOURGOS', '650.123.5234', datetime.datetime(2007, 11, 16, 0, 0), 'ST_MAN', 5800.0, None, 100, 50)
(125, 'Julia', 'Nayer', 'JNAYER', '650.124.1214', datetime.datetime(2005, 7, 16, 0, 0), 'ST_CLERK', 3200.0, None, 120, 50)
(126, 'Irene', 'Mikkilineni', 'IMIKKILI', '650.124.1224', datetime.datetime(2006, 9, 28, 0, 0), 'ST_CLERK', 2700.0, None, 120, 50)
(127, 'James', 'Landry', 'JLANDRY', '650.124.1334', datetime.datetime(2007, 1, 14, 0, 0), 'ST_CLERK', 2400.0, None, 120, 50)
(128, 'Steven', 'Markle', 'SMARKLE', '650.124.1434', datetime.datetime(2008, 3, 8, 0, 0), 'ST_CLERK', 2200.0, None, 120, 50)
(129, 'Laura', 'Bissot', 'LBISSOT', '650.124.5234', datetime.datetime(2005, 8, 20, 0, 0), 'ST_CLERK', 3300.0, None, 121, 50)
(130, 'Mozhe', 'Atkinson', 'MATKINSO', '650.124.6234', datetime.datetime(2005, 10, 30, 0, 0), 'ST_CLERK', 2800.0, None, 121, 50)
(131, 'James', 'Marlow', 'JAMRLOW', '650.124.7234', datetime.datetime(2005, 2, 16, 0, 0), 'ST_CLERK', 2500.0, None, 121, 50)
(132, 'TJ', 'Olson', 'TJOLSON', '650.124.8234', datetime.datetime(2007, 4, 10, 0, 0), 'ST_CLERK', 2100.0, None, 121, 50)
(133, 'Jason', 'Mallin', 'JMALLIN', '650.127.1934', datetime.datetime(2004, 6, 14, 0, 0), 'ST_CLERK', 3300.0, None, 122, 50)
(134, 'Michael', 'Rogers', 'MROGERS', '650.127.1834', datetime.datetime(2006, 8, 26, 0, 0), 'ST_CLERK', 2900.0, None, 122, 50)
(135, 'Ki', 'Gee', 'KGEE', '650.127.1734', datetime.datetime(2007, 12, 12, 0, 0), 'ST_CLERK', 2400.0, None, 122, 50)
(136, 'Hazel', 'Philtanker', 'HPHILTAN', '650.127.1634', datetime.datetime(2008, 2, 6, 0, 0), 'ST_CLERK', 2200.0, None, 122, 50)
(137, 'Renske', 'Ladwig', 'RLADWIG', '650.121.1234', datetime.datetime(2003, 7, 14, 0, 0), 'ST_CLERK', 3600.0, None, 123, 50)
(138, 'Stephen', 'Stiles', 'SSTILES', '650.121.2034', datetime.datetime(2005, 10, 26, 0, 0), 'ST_CLERK', 3200.0, None, 123, 50)
(139, 'John', 'Seo', 'JSEO', '650.121.2019', datetime.datetime(2006, 2, 12, 0, 0), 'ST_CLERK', 2700.0, None, 123, 50)
(140, 'Joshua', 'Patel', 'JPATEL', '650.121.1834', datetime.datetime(2006, 4, 6, 0, 0), 'ST_CLERK', 2500.0, None, 123, 50)
(141, 'Trenna', 'Rajs', 'TRAJS', '650.121.8009', datetime.datetime(2003, 10, 17, 0, 0), 'ST_CLERK', 3500.0, None, 124, 50)
(142, 'Curtis', 'Davies', 'CDAVIES', '650.121.2994', datetime.datetime(2005, 1, 29, 0, 0), 'ST_CLERK', 3100.0, None, 124, 50)
(143, 'Randall', 'Matos', 'RMATOS', '650.121.2874', datetime.datetime(2006, 3, 15, 0, 0), 'ST_CLERK', 2600.0, None, 124, 50)
(144, 'Peter', 'Vargas', 'PVARGAS', '650.121.2004', datetime.datetime(2006, 7, 9, 0, 0), 'ST_CLERK', 2500.0, None, 124, 50)
(180, 'Winston', 'Taylor', 'WTAYLOR', '650.507.9876', datetime.datetime(2006, 1, 24, 0, 0), 'SH_CLERK', 3200.0, None, 120, 50)
(181, 'Jean', 'Fleaur', 'JFLEAUR', '650.507.9877', datetime.datetime(2006, 2, 23, 0, 0), 'SH_CLERK', 3100.0, None, 120, 50)
(182, 'Martha', 'Sullivan', 'MSULLIVA', '650.507.9878', datetime.datetime(2007, 6, 21, 0, 0), 'SH_CLERK', 2500.0, None, 120, 50)
(183, 'Girard', 'Geoni', 'GGEONI', '650.507.9879', datetime.datetime(2008, 2, 3, 0, 0), 'SH_CLERK', 2800.0, None, 120, 50)
(184, 'Nandita', 'Sarchand', 'NSARCHAN', '650.509.1876', datetime.datetime(2004, 1, 27, 0, 0), 'SH_CLERK', 4200.0, None, 121, 50)
(185, 'Alexis', 'Bull', 'ABULL', '650.509.2876', datetime.datetime(2005, 2, 20, 0, 0), 'SH_CLERK', 4100.0, None, 121, 50)
(186, 'Julia', 'Dellinger', 'JDELLING', '650.509.3876', datetime.datetime(2006, 6, 24, 0, 0), 'SH_CLERK', 3400.0, None, 121, 50)
(187, 'Anthony', 'Cabrio', 'ACABRIO', '650.509.4876', datetime.datetime(2007, 2, 7, 0, 0), 'SH_CLERK', 3000.0, None, 121, 50)
(188, 'Kelly', 'Chung', 'KCHUNG', '650.505.1876', datetime.datetime(2005, 6, 14, 0, 0), 'SH_CLERK', 3800.0, None, 122, 50)
(189, 'Jennifer', 'Dilly', 'JDILLY', '650.505.2876', datetime.datetime(2005, 8, 13, 0, 0), 'SH_CLERK', 3600.0, None, 122, 50)
(190, 'Timothy', 'Gates', 'TGATES', '650.505.3876', datetime.datetime(2006, 7, 11, 0, 0), 'SH_CLERK', 2900.0, None, 122, 50)
(191, 'Randall', 'Perkins', 'RPERKINS', '650.505.4876', datetime.datetime(2007, 12, 19, 0, 0), 'SH_CLERK', 2500.0, None, 122, 50)
(192, 'Sarah', 'Bell', 'SBELL', '650.501.1876', datetime.datetime(2004, 2, 4, 0, 0), 'SH_CLERK', 4000.0, None, 123, 50)
(193, 'Britney', 'Everett', 'BEVERETT', '650.501.2876', datetime.datetime(2005, 3, 3, 0, 0), 'SH_CLERK', 3900.0, None, 123, 50)
(194, 'Samuel', 'McCain', 'SMCCAIN', '650.501.3876', datetime.datetime(2006, 7, 1, 0, 0), 'SH_CLERK', 3200.0, None, 123, 50)
(195, 'Vance', 'Jones', 'VJONES', '650.501.4876', datetime.datetime(2007, 3, 17, 0, 0), 'SH_CLERK', 2800.0, None, 123, 50)
(196, 'Alana', 'Walsh', 'AWALSH', '650.507.9811', datetime.datetime(2006, 4, 24, 0, 0), 'SH_CLERK', 3100.0, None, 124, 50)
(197, 'Kevin', 'Feeney', 'KFEENEY', '650.507.9822', datetime.datetime(2006, 5, 23, 0, 0), 'SH_CLERK', 3000.0, None, 124, 50)
(198, 'Donald', 'OConnell', 'DOCONNEL', '650.507.9833', datetime.datetime(2007, 6, 21, 0, 0), 'SH_CLERK', 2600.0, None, 124, 50)
(199, 'Douglas', 'Grant', 'DGRANT', '650.507.9844', datetime.datetime(2008, 1, 13, 0, 0), 'SH_CLERK', 2600.0, None, 124, 50)

In [13]:
params = {"dept_id" : 50, "mgr_id" : 124}
cursor.execute("""select * from employees
    where department_id =: dept_id and manager_id =:mgr_id""", **params)

for emp in cursor :
    print(emp)

(141, 'Trenna', 'Rajs', 'TRAJS', '650.121.8009', datetime.datetime(2003, 10, 17, 0, 0), 'ST_CLERK', 3500.0, None, 124, 50)
(142, 'Curtis', 'Davies', 'CDAVIES', '650.121.2994', datetime.datetime(2005, 1, 29, 0, 0), 'ST_CLERK', 3100.0, None, 124, 50)
(143, 'Randall', 'Matos', 'RMATOS', '650.121.2874', datetime.datetime(2006, 3, 15, 0, 0), 'ST_CLERK', 2600.0, None, 124, 50)
(144, 'Peter', 'Vargas', 'PVARGAS', '650.121.2004', datetime.datetime(2006, 7, 9, 0, 0), 'ST_CLERK', 2500.0, None, 124, 50)
(196, 'Alana', 'Walsh', 'AWALSH', '650.507.9811', datetime.datetime(2006, 4, 24, 0, 0), 'SH_CLERK', 3100.0, None, 124, 50)
(197, 'Kevin', 'Feeney', 'KFEENEY', '650.507.9822', datetime.datetime(2006, 5, 23, 0, 0), 'SH_CLERK', 3000.0, None, 124, 50)
(198, 'Donald', 'OConnell', 'DOCONNEL', '650.507.9833', datetime.datetime(2007, 6, 21, 0, 0), 'SH_CLERK', 2600.0, None, 124, 50)
(199, 'Douglas', 'Grant', 'DGRANT', '650.507.9844', datetime.datetime(2008, 1, 13, 0, 0), 'SH_CLERK', 2600.0, None, 124, 50)

커서를 통해 조회한 데이터베이스 정보를 데이터프레임 형식으로 변환하면 데이터를 분석하기 더 쉽다. pandas 패키지의 DataFrame 패키지를 이용하면 커서로부터 조회한 데이터를 데이터프레임 객체로 변환할 수 있다.

다음 코드는 커서로부터 데이터를 추출해 데이터프레임 객체로 만든다.

In [17]:
cursor.execute("select * from employees")
from pandas import DataFrame
emp_df = DataFrame(cursor.fetchall())
cursor.rowcount

107

In [18]:
emp_df.head()

    0          1        2         3   ...       7   8      9     10
0  100     Steven     King     SKING  ...  24000.0 NaN    NaN  90.0
1  101      Neena  Kochhar  NKOCHHAR  ...  17000.0 NaN  100.0  90.0
2  102        Lex  De Haan   LDEHAAN  ...  17000.0 NaN  100.0  90.0
3  103  Alexander   Hunold   AHUNOLD  ...   9000.0 NaN  102.0  60.0
4  104      Bruce    Ernst    BERNST  ...   6000.0 NaN  103.0  60.0

[5 rows x 11 columns]

----------------------------------------------------------------

# 회원관리 데이터베이스 애플리케이션 프로젝트

In [20]:
# -*- coding: utf-8 -*-

class member:
    def __init__(self, name, phone, email, age, grade, etc) :
        self.name = name
        self.phone = phone
        self.email = email
        self.age = age
        self.grade = grade
        self.etc = etc

    def __str__(self) :
        return("name : {}, phone : {}, email : {}, age : {}, grade : {}, etc : {}".format(self.name, self.phone, self.email, self.age, self.grade, self.etc))

    def to_dict(self) :
        return {"name" : self.name, "phone" : self.phone, "email" : self.email, "age" : self.age, "grade" : self.grade, "etc" : self.etc}

In [21]:
#%% 회원 정보를 입력받아 데이터베이스에 저장하는 함수이다.

def insert_member_info() :
    cursor = conn.cursor()
    name = input("이름 : ")
    phone = input("전화번호 :")
    email = input("이메일 :")
    age = int(input("나이 :"))
    grade = int(input("고객등급(1~5) :"))
    etc = input("기타정보 :")
    cust = Customer(name, phone, email, age, int(grade), etc)
    sql = '''insert into member values (:name, :phone, :email, :age, :grade, :etc)'''
    cursor.execute(sql, member.to_dict())

In [22]:
#%% 모든 회원 정보를 데이터베이스에서 조회한 후 출력하는 함수이다.

def get_all_members() :
    cursor = conn.cursor()
    cursor.execute("select * from member")
    for data in cursor :
        print(Member(*data))

In [23]:
#%% 이름으로 회원 정보를 조회하는 함수이다.

def search_member(name) :
    cursor = conn.cursor()
    sql = "select * from member where name = :name"
    cursor.execute(sql, (name,))
    for data in cursor :
        print(Member(*data))

In [ ]:
#%% 회원의 정보를 삭제하는 함수이다. 삭제는 이메일을 이용해 삭제한다.